.App-header {
    padding-top: 50px;
}

Form Button {
    margin-bottom: 20px;
}
footer {
    background-color: #3b6e57;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding-top: 8px;
    padding-bottom: 5px;
}